* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container, .container-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.centered-content {
    text-align: center;
}

.logo {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.sidebar {
    background-color: #e0e0e0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20%;
    height: 100vh;
}

.content-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    width: 80%;
}

.video-card {
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}

video-card img {
    width: 100%;
    border-radius: 10px;
}

.profile-content {
    padding: 2rem;
}

.profile-header {
    margin-bottom: 1rem;
}

.profile-header h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
